
#contact {
    padding: 30px;
}

.i_1 {
    float: right;
}

.mr_1 {
    padding: 10px;
    border-radius: 10px;
    margin-top: 3;
}

.i_2 {
    float: right;
}

.mr_2 {
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}

.i_3 {
    float: right;
}

.mr_3 {
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}
